@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  background-image: url("src/images/gim.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
